 <div class="field">
    <br><br><br><br><br><br>
<h3 class="display-1">Welcome to Our Parking Slot</h3>
    <br><br><br>
  <%= link_to 'Slot Bookings', slot_bookings_path, class: "btn btn-outline-dark" %>
</div>
