<div class="field">
  <br>

<h3 style= text-decoration:underline;> New Slot Booking </h3>

<%= render 'slot_bookings/form' %>
<br>
<%= link_to 'Back', root_path, class: "btn btn-outline-dark" %>

</div>